* {

    font-family: Arial, Helvetica, sans-serif;
}

/* Need to put some margin/padding somewhere. Hmmm */

a {
    text-decoration: none;
    display: inline-block;
    color: #e5e7eb;
}

.container div {
    padding-left: 10%;
    padding-right: 10%;
}

button {
    border-radius: 10px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    background-color: #3882f6;
    width: 150px;
    height: 50px;
}

.navigationbar {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    padding-bottom: 75px;
}

.navigationbar button {
    border-color: #3882f6;
    padding-left: 20%;
}

.navigationbar h1 {
    color: white;
    font-size: 24px;
    margin: 1rem;
}

.navlinks a{
    padding-left: 20px;
}


.banner1 {
    background-color: #1f2937;
    display:flex;
    justify-content: space-between;
    padding-bottom: 200px;
    gap: auto;
    
}




.banner1 h1{
    color: white;
    font-weight:bold;
    font-size: 48px;
}

.banner1 p {
    font-size: 18px;
    color: #e5e7eb;
    display: inline-block;
}

.information {
    background-color: white;
    padding-bottom: 200px;
}

.information h1 {
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.informationimages {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 20px;
    
}

.informationimages div{
    padding-left: 0%;
    padding-right: 0%;
    width: 150px;
    height: 150px;
    border: solid #3882f6;
    border-width: 5px;
    border-radius: 25px;
    gap: 20px;
}

.informationsubheaders {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.informationsubheaders div {
    padding:0%;
    width: 150px;
    height: auto;
}

.quote {
    padding-top: 200px;
    background-color: #e5e7eb;
    padding-bottom: 200px;
}

.quote h2{
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
}

.quote h3 {
    font-size: 20px;
    text-align: right;
}

.signupspace {
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
}

.signupbox {
    color: white;
    margin:auto;
    padding-bottom: 20px;
    background-color: #3882f6;
    border-radius: 15px;
    border-width: 5px;
}

.signupbutton {
    border-color: white;
}

.footer {
    background-color: #1f2937;
    color: #e5e7eb;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
}

